<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link fw-bold" href="/"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="padding-bottom: 5.5px;" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
            <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
          </svg>HOME</a>
          <a class="nav-item nav-link fw-bold" href="/customer_list"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="padding-bottom: 5.5px;" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>CUSTOMER</a>
          
          <a class="nav-item nav-link fw-bold" href="/air_ticket_list"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="padding-bottom: 5.5px;" fill="currentColor" class="bi bi-airplane-fill" viewBox="0 0 16 16">
            <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849"/>
          </svg>AIR TICKET</a>

          <div class="dropdown">
            <button class="btn dropdown-toggle fw-bolder" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              HOTEL BOOKING</button>
            <ul class="dropdown-menu bg-info-subtle">
              <li><a class="dropdown-item" href="/hotel_booking">ADD HOTEL BOOKING</a></li>
              <li><a class="dropdown-item" href="/delete_hotel_booking">DELETE HOTEL BOOKING</a></li>
              <li><a class="dropdown-item" href="/edit_hotel_booking">EDIT HOTEL BOOKING</a></li>
              <li><a class="dropdown-item" href="/hotel_booking_list">HOTEL BOOKING LIST</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn dropdown-toggle fw-bolder" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              PACKAGE</button>
            <ul class="dropdown-menu bg-info-subtle">
              <li><a class="dropdown-item" href="/package">ADD PACKAGE</a></li>
              <li><a class="dropdown-item" href="/delete_package">DELETE PACKAGE</a></li>
              <li><a class="dropdown-item" href="/edit_package">EDIT PACKAGE</a></li>
              <li><a class="dropdown-item" href="/package_list">PACKAGE LIST</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <button class="btn dropdown-toggle fw-bolder" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              BILL</button>
            <ul class="dropdown-menu bg-info-subtle">
              <li><a class="dropdown-item" href="/preprebill">ADD BILL</a></li>
              <li><a class="dropdown-item" href="/delete_bill">DELETE BILL</a></li>
              <li><a class="dropdown-item" href="/edit_bill">EDIT BILL</a></li>
              <li><a class="dropdown-item" href="/selected_bill_list">BILL LIST</a></li>
            </ul>
          </div>

        </div>
      </div>
    </nav>
    
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"
  ></script>
</html>
